<!DOCTYPE html>
<html lang="ar">
    

    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-right">
                    <a href="index.html" class="logo">
						<img src="assets/img/main%20logo5.png" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="assets/img/main%20logo%203.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-right"></i>
				</a>
				
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="ابحث هنا">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fe fe-bell"></i> <span class="badge badge-pill">+2</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">الإشعارات الواردة</span>
								<a href="javascript:void(0)" class="clear-noti"> مسح الكل </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/user.png">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">عميل 1</span> حجز  <span class="noti-title">ملعب 5 لساعتين</span></p>
													<p class="noti-time"><span class="notification-time">منذ 1 دقيقة</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/user.png">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">عميل 1</span> حجز  <span class="noti-title">ملعب 5 لساعتين</span></p>
													<p class="noti-time"><span class="notification-time">منذ 4 دقائق</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/user.png">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">عميل 1</span> حجز  <span class="noti-title">ملعب 5 لساعتين</span></p>
													<p class="noti-time"><span class="notification-time">منذ 15 دقيقة</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/user.png">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">عميل 2</span> حجز  <span class="noti-title">ملعب 4 لساعة</span></p>
													<p class="noti-time"><span class="notification-time">منذ 30 دقيقة</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">عرض جميع الإشعارات</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="assets/img/profiles/user.png" width="31" alt="user"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="assets/img/profiles/user.png" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>مستخدم</h6>
									<p class="text-muted mb-0">مسئول</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.html">ملفي الشخصي</a>
                            <a class="dropdown-item" href="lock-screen.html">قفل الشاشة</a>
							<a class="dropdown-item" href="login.html">تسجيل خروج</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>الرئيسية</span>
							</li>
							<li class="active"> 
								<a href="index.html"><i class="fe fe-home"></i> <span>لوحة التحكم</span></a>
							</li>
							<li> 
								<a href="appointment-list.html"><i class="fe fe-layout"></i> <span>المواعيد المحجوزة</span></a>
							</li>
							<li> 
								<a href="pitches-list.html"><i class="fa fa-futbol-o"></i> <span>الملاعب</span></a>
							</li>
							<li> 
								<a href="clients-list.html"><i class="fe fe-users"></i> <span>العملاء</span></a>
							</li>
							<li> 
								<a href="reviews.html"><i class="fe fe-star-o"></i> <span>المراجعات</span></a>
							</li>
							<li> 
								<a href="transactions-list.html"><i class="fe fe-activity"></i> <span>المعاملات</span></a>
							</li>
							<li class="menu-title"> 
								<span>الصفحات</span>
							</li>
                            <li class="nav-item">
                              <a href="calendar/calendar.html" target="_blank"><i class="fe fe-calendar"></i> <span>التقويم</span></a>
                            </li>
                             <li class="submenu">
                                 <a href="#"><i class="fa fa-envelope"></i><span> صندوق البريد </span> <span class="menu-arrow"></span></a>
                                 <ul style="display: none;">
                                    <li><a href="mail/mailbox.html" target="_blank"><span class="fa fa-inbox"></span> صندوق الوارد </a></li>
                                    <li><a href="mail/read-mail.html" target="_blank"><span class="fe fe-document"></span>إقرأ رسالة  </a></li>
                                    <li><a href="mail/compose.html" target="_blank"><span class="fa fa-send"></span> إرسال رسالة </a></li>
                                 </ul>
                            </li>
							<li> 
								<a href="profile.html"><i class="fe fe-user-plus"></i> <span>الملف الشخصي</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="fe fe-lock"></i> <span> المصادقة </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="login.html"> تسجيل دخول </a></li>
									<li><a href="register.html"> إنشاء حساب </a></li>
									<li><a href="forgot-password.html"> نسيت كلمة السر </a></li>
									<li><a href="lock-screen.html"> قفل الشاشة </a></li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
                <div class="content container-fluid">
					
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">أهلا بك!</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">لوحة التحكم</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-primary border-primary">
											<i class="fa fa-futbol-o"></i>
										</span>
										<div class="dash-count">
											<h3>168</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<h6 class="text-muted">الملاعب</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-primary w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-success">
											<i class="fe fe-users"></i>
										</span>
										<div class="dash-count">
											<h3>487</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<h6 class="text-muted">العملاء</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-success w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-danger border-danger">
											<i class="fe fe-layout"></i>
										</span>
										<div class="dash-count">
											<h3>50</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<h6 class="text-muted">المواعيد المحجوزة</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-danger w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-warning border-warning">
											<i class="fe fe-money"></i>
										</span>
										<div class="dash-count">
											<h3>5000 EGP</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<h6 class="text-muted">الأرباح</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-warning w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-6">
						
							<!-- Sales Chart -->
							<div class="card card-chart">
								<div class="card-header">
									<h4 class="card-title">الأرباح</h4>
								</div>
								<div class="card-body">
									<div id="morrisArea"></div>
								</div>
							</div>
							<!-- /Sales Chart -->
							
						</div>
						<div class="col-md-12 col-lg-6">
						
							<!-- Invoice Chart -->
							<div class="card card-chart">
								<div class="card-header">
									<h4 class="card-title">الاحصائيات</h4>
								</div>
								<div class="card-body">
									<div id="morrisLine"></div>
								</div>
							</div>
							<!-- /Invoice Chart -->
							
						</div>	
					</div>
					<div class="row">
						<div class="col-md-6 d-flex">
						
							<!-- Recent Orders -->
							<div class="card card-table flex-fill">
								<div class="card-header">
									<h4 class="card-title">قائمة الملاعب</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>أسم الملعب</th>
													<th>المساحة</th>
													<th>الأرباح</th>
													<th>المراجعات</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 1</a>
														</h2>
													</td>
													<td>5x5</td>
													<td>EGP3200.00</td>
													<td>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star-o text-secondary"></i>
													</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 2</a>
														</h2>
													</td>
													<td>5x5</td>
													<td>EGP2000.00</td>
													<td>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star-o text-secondary"></i>
														<i class="fe fe-star-o text-secondary"></i>
													</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 3</a>
														</h2>
													</td>
													<td>7x7</td>
													<td>EGP4000.00</td>
													<td>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star-o text-secondary"></i>
													</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 4</a>
														</h2>
													</td>
													<td>5x5</td>
													<td>EGP5000.00</td>
													<td>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
													</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 5</a>
														</h2>
													</td>
													<td>7x7</td>
													<td>EGP6500.00</td>
													<td>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star text-warning"></i>
														<i class="fe fe-star-o text-secondary"></i>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- /Recent Orders -->
							
						</div>
						<div class="col-md-6 d-flex">
						
							<!-- Feed Activity -->
							<div class="card  card-table flex-fill">
								<div class="card-header">
									<h4 class="card-title">قائمة العملاء</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>													
													<th>اسم العميل</th>
													<th>رقم الهاتف</th>
													<th>البريد الألكتروني</th>
													<th>مدفوع</th>													
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 1</a>
														</h2>
													</td>
													<td>01009547862</td>
													<td>user@user.com</td>
													<td class="text-right">EGP300.00</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 2 </a>
														</h2>
													</td>
													<td>01007861590</td>
													<td>user@user.com</td>
													<td class="text-right">EGP150.00</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 3</a>
														</h2>
													</td>
													<td>01027539842</td>
													<td>user@user.com</td>
													<td class="text-right">EGP600.00</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 4</a>
														</h2>
													</td>
													<td>01554719543</td>
													<td>user@user.com</td>
													<td class="text-right">EGP450.00</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 5</a>
														</h2>
													</td>
													<td>01027578264</td>
													<td>user@user.com</td>
													<td class="text-right">EGP350.00</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- /Feed Activity -->
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						
							<!-- Recent Orders -->
							<div class="card card-table">
								<div class="card-header">
									<h4 class="card-title">قائمة المواعيد</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>الملعب</th>
													<th>المساحة</th>
													<th>العميل</th>
													<th>موعد الحجز</th>
													<th>الحالة</th>
													<th>المبلغ</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 5</a>
														</h2>
													</td>
													<td>5x5</td>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 2 </a>
														</h2>
													</td>
													<td>15 Dec 2021 <span class="text-primary d-block">11.00 AM - 01.00 AM</span></td>
													<td>
														<div class="status-toggle">
															<input type="checkbox" id="status_1" class="check" checked>
															<label for="status_1" class="checktoggle">checkbox</label>
														</div>
													</td>
													<td class="text-right">
														EGP140.00
													</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 4</a>
														</h2>
													</td>
													<td>5x5</td>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 5 </a>
														</h2>
													</td>
													
													<td>5 Nov 2021 <span class="text-primary d-block">12.00 AM - 02.00 AM</span></td>
													<td>
														<div class="status-toggle">
															<input type="checkbox" id="status_2" class="check">
															<label for="status_2" class="checktoggle">checkbox</label>
														</div>
													</td>
													<td class="text-right">
														EGP300.00
													</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 1</a>
														</h2>
													</td>
													<td>7x7</td>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 3</a>
														</h2>
													</td>
													<td>30 Nov 2021 <span class="text-primary d-block">05.00 PM - 07.00 PM</span></td>
													<td>
														<div class="status-toggle">
															<input type="checkbox" id="status_3" class="check" checked>
															<label for="status_3" class="checktoggle">checkbox</label>
														</div>
													</td>
													<td class="text-right">
														EGP150.00
													</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 2</a>
														</h2>
													</td>
													<td>5x5</td>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 4</a>
														</h2>
													</td>
													<td>1 Jan 2022<span class="text-primary d-block">10.00 PM - 12.00 PM</span></td>
													<td>
														<div class="status-toggle">
															<input type="checkbox" id="status_4" class="check" checked>
															<label for="status_4" class="checktoggle">checkbox</label>
														</div>
													</td>
													<td class="text-right">
														EGP200.00
													</td>
												</tr>
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">ملعب 5</a>
														</h2>
													</td>
													<td>7x7</td>
													<td>
														<h2 class="table-avatar">
															<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/user.png" alt="User Image"></a>
															<a href="profile.html">عميل 1</a>
														</h2>
													</td>
													
													<td>20 Dec 2021<span class="text-primary d-block">08.00 PM - 09.30 PM</span></td>
													<td>
														<div class="status-toggle">
															<input type="checkbox" id="status_5" class="check">
															<label for="status_5" class="checktoggle">checkbox</label>
														</div>
													</td>
													<td class="text-right">
														EGP200.00
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- /Recent Orders -->
							
						</div>
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        
		
    </body>
</html>